{% extends "layouts/default.html" %}

{% load static %}

{% block title %}
Türkiye Yöresel Yemekleri
{% endblock %}

{% block meta_description %}
Türkiye'nin 81 iline ait yöresel yemekleri keşfedin.
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
{% endblock %}

{% block content %}

{% include "pages/home/hero.html" %}

{% include "pages/home/search.html" %}

{% include "pages/home/turkey_map.html" %}

{% include "pages/home/featured_recipes.html" %}

{% include "pages/home/latest_recipes.html" %}

{% include "pages/home/popular_provinces.html" %}

{% include "pages/home/categories.html" %}

{% include "pages/home/statistics.html" %}

{% include "pages/home/newsletter.html" %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/pages/home.js' %}"></script>
{% endblock %}