{% extends "layouts/default.html" %}

{% block title %}{{ category.name }} Tarifleri{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>

    <ul>
        {% for recipe in recipes %}
            <li><a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a></li>
        {% empty %}
            <li>Bu kategoride henüz tarif bulunmamaktadır.</li>
        {% endfor %}
    </ul>

    {% include "components/feedback/pagination.html" %}
</div>
{% endblock %}
